*{
    color: blue;
}


/**
esto es un comentario dentro de un docuento de css
*/
h1{
    font-weight: 400px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    /*padding-top: 20px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 30px;
    */
    padding: 30px 15px 30px 20px;
    margin: 30;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 20px;

    font-weight: bold;
    color: blue;
    
}

p{
    color: red;
}
section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
 
#mi_parrafo{
    color: blueviolet;
    font-size: 23px;
    border: 1px solid crimson;
}

.estaesmiclase{
    font-weight: bold;
    color: brown;
}

section h1 {
     
    font-weight: 400px;
    
 }



 
